/**
 * Meetup Registration Styles
 */

.meetup-registration .form-group {
    margin-bottom: 1em;
}

.meetup-registration input:not([type="radio"]):not([type="checkbox"]) {
    min-width: 100%;
}

.meetup-registration .label {
    font-weight: bold;
    display: block;
}

.meetup-registration-required,
.meetup-registration .required {
    color: #f2157d;
    margin-left: 0.25em;
}

.meetup-registration .checkbox .label {
    display: block;
}

.meetup-registration .form-group.checkbox input[type="checkbox"] {
    margin-left: 0.75em;
    margin-right: 0.25em;
    transform: scale(1.3);
    outline: transparent;
}

.meetup-registration .reallySecureCap1cha {
    display: none;
}

.meetup-registration-form-error {
    border: 1px solid #ebccd1;
    background-color: #f2dede;
    color: #dc0067;
    font-family: sans-serif;
    margin-bottom: 1em;

    padding: 0.25em 0.75em;
}

.meetup-registration-form-error strong.title {
    font-size: 1.2em;
    display: block;
}
