%ABOUT_TEXT%

%ERRORS%

<small>
    Mit <span class="required">*</span> gekennzeichnete Felder müssen ausgefüllt werden
</small>

<form method="post" class="meetup-registration" action="">

    <div class="form-group name">
        <label for="name-field" class="label">Name<span class="required">*</span></label>
        <input type="text" class="form-control name-field" id="name-field" placeholder="Name"
               value="" name="name" required>
    </div>

    <div class="form-group community">
        <label for="community-field" class="label">Community<span class="required">*</span></label>
        <input type="text" class="community-field" id="community-field" placeholder="Community"
               value="" name="community" required>
    </div>

    <div class="form-group email">
        <label for="email-field" class="label">E-Mail<span class="required">*</span></label>
        <input type="email" class="email-field" id="email-field" placeholder="E-Mail"
               value="" name="email" required>
    </div>

    <div class="form-group checkbox checkbox-required day">
        <label>
            <span class="label">Anwesenheit<span class="required">*</span></span>
            <input type="checkbox" class="day-field" name="day[]" value="friday"> Freitag
            <input type="checkbox" class="day-field" name="day[]" value="saturday"> Samstag
            <input type="checkbox" class="day-field" name="day[]" value="sunday"> Sonntag
        </label>
    </div>

    <div class="form-group checkbox grill">
        <label>
            <span class="label">Grillen</span>
            <input type="checkbox" class="grill-field" name="grill[]" value="saturday"> Samstag
            <input type="checkbox" class="grill-field" name="grill[]" value="sunday"> Sonntag
        </label>
    </div>

    <div class="form-group checkbox lunch">
        <label>
            <span class="label">Mittagessen</span>
            <input type="checkbox" class="lunch-field" name="lunch[]" value="saturday"> Samstag
        </label>
    </div>

    <div class="form-group other">
        <label for="other-field" class="label">Sonstiges</label>
        <textarea class="other-field" id="other-field" placeholder="Sonstiges" name="other">

        </textarea>
    </div>

    <label for="iAmAHiddenCap1chaDontPutAnyDataInHere" class="label reallySecureCap1cha">
        Cap1cha, should be empty
    </label>
    <input type="text" class="reallySecureCap1cha"
           name="iAmAHiddenCap1chaDontPutAnyDataInHere" id="iAmAHiddenCap1chaDontPutAnyDataInHere">

    <input type="submit" class="form-submit" id="meetup-registration-submit" value="Anmelden">

</form>
